@import '../../stylesheets/variables.scss';

.header {
  font-family: $font;
  position: fixed;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-image: url("/assets/concrete_seamless.png");
}

.lang-select-container {
  width: 115px;
	height: 30px;
	position: absolute;
	top: 10px;
	padding: 0 10px;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 89% 0;
	background-color: #D4AF37;
	overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  select {
    height: 30px;
    width: 105px;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 8px 0;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.nav-container {
  width: 35%;
	margin: 15px auto;
}

.header-link {
  height: 25px;
  margin: 0 10px;
}

.is-selected {color: $gold;}
