@import '../../stylesheets/variables.scss';

.footer {
  font-family: $font;
  font-size: 14px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  text-align: center;
}
