<main id="aboutPage" class="aboutPage">
  <div class="container">
    <h1 class="title aboutName text-uppercase">Hi, {{ name }} !</h1>
    <p class="subtitle">{{ 'ABOUT.WELCOME' | translate }}</p>
    <div class="image aboutImg"></div>
    <span id="aboutArrow" class="fa fa-2x fa-arrow-down arrow bounce"></span>
    <div class="aboutMeContainer">
      <h1 class="title aboutMeTitle">{{ 'ABOUT.ME-TITLE' | translate }}</h1>
      <p class="sectionSeparator"></p>
      <div class="aboutMePhotoContainer">
        <div class="aboutMePhoto"></div>
      </div>
      <div class="aboutMeDetailsContainer">
        <div class="subtitle aboutMeDetailsItem"><span class="info">Full name :</span> {{ 'ABOUT.ME-ITEM-1' | translate }}</div>
        <div class="subtitle aboutMeDetailsItem"><span class="info">About :</span> {{ 'ABOUT.ME-ITEM-2' | translate }}</div>
        <div class="subtitle aboutMeDetailsItem"><span class="info">Occupation :</span> {{ 'ABOUT.ME-ITEM-3' | translate }}</div>
        <div class="subtitle aboutMeDetailsItem"><span class="info">e-mail :</span> {{ 'ABOUT.ME-ITEM-4' | translate }}</div>
      </div>
    </div>
    <h1 class="title aboutSummaryTitle">{{ 'ABOUT.SUMMARY' | translate }}</h1>
    <p class="sectionSeparator"></p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-1' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-2' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-3' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-4' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-5' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-6' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-7' | translate }}</p>
    <p class="subtitle aboutSummaryParagraph">{{ 'ABOUT.SECTION-8' | translate }}</p>
  </div>  
</main>