<p class="devMessage">{{ 'INTRO.DEV' | translate }}</p>
<main id="introPage" class="introPage">
  <div class="introLangSelect">
    <select id="langSelect" class="langSelect" #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>
  <div class="introContainer">
    <h1 class="introTitle text-uppercase">{{ 'INTRO.TITLE' | translate }}</h1>
    <form id="form" (ngSubmit)="nameSubmit();">
      <input id="inputName" type="text" class="inputName text-uppercase" name="name" autofocus autocomplete="off" placeholder="{{ 'INTRO.PLACEHOLDER' | translate }}">
      <button class="fa fa-arrow-right buttonSubmit" type="submit"></button>
    </form>
    <p class="disclosure">{{ 'INTRO.DISCLOSURE' | translate }}</p>
    <h1 id="warning" class="warning">{{ 'INTRO.WARNING' | translate }}</h1>
  </div>
  <ul>
    <li class="noThanks no-flicker animation_hover_flipInX" routerLink="about">{{ 'INTRO.NO-THANKS' | translate }}</li>
  </ul>
</main>