<div id="mainPage" class="main container">
  <div id="welcome" class="container welcome-container">
    <h1 class="welcome-title">{{ 'WELCOME.TITLE' | translate }}</h1>
    <h2 class="welcome-subtitle">{{ 'WELCOME.SUBTITLE' | translate }}</h2>
  </div>
  <div class="left-break"></div>
  <div class="right-break"></div>
  <div class="section-break"></div>
  <div id="about" class="section">
    <h1 class="section-title">{{ 'ABOUT.TITLE' | translate }}</h1>
    <p class="section-text">{{ 'ABOUT.TEXT-1' | translate }}<br>{{ 'ABOUT.TEXT-2' | translate }}</p>
    <h2 class="section-subtitle quote">{{ 'ABOUT.QUOTE-1' | translate }}<br>{{ 'ABOUT.QUOTE-2' | translate }}</h2>
  </div>
  <div class="left-break"></div>
  <div class="right-break"></div>
  <div class="section-break"></div>
  <div id="timeline" class="section">
    <h1 class="section-title timeline-title">{{ 'TIMELINE.TITLE' | translate }}</h1>
    <div class="timeline-container">
      <ul>
        <li class="timeline-card-left"></li>
        <li class="timeline-card-right">
          <label class="timeline-icon"></label>
          <p class="timeline-card-thumbnail">{{ 'TIMELINE.THUMBNAIL-1' | translate }}</p>
          <div class="timeline-card-content">
            <h2>{{ 'TIMELINE.TITLE-1' | translate }}</h2>
            <p><a href="https://www.uminho.pt" target="_blank">{{ 'TIMELINE.SUBTITLE-1' | translate }}</a></p>
          </div>
        </li>
        <li class="timeline-card-left">
          <p class="timeline-card-thumbnail left-card-thumbnail">{{ 'TIMELINE.THUMBNAIL-2' | translate }}</p>
          <div class="timeline-card-content left-card-content">
            <h2>{{ 'TIMELINE.TITLE-2' | translate }}</h2>
            <p><a href="https://www.uminho.pt/" target="_blank">{{ 'TIMELINE.SUBTITLE-2' | translate }}</a></p>
          </div>
        </li>
        <li class="timeline-card-right">
          <label class="timeline-icon"></label>
        </li>
        <li class="timeline-card-left"></li>
        <li class="timeline-card-right">
          <label class="timeline-icon"></label>
          <p class="timeline-card-thumbnail">{{ 'TIMELINE.THUMBNAIL-3' | translate }}</p>
          <div class="timeline-card-content">
            <h2>{{ 'TIMELINE.TITLE-3' | translate }}</h2>
            <p><a href="https://edit.com.pt" target="_blank">{{ 'TIMELINE.SUBTITLE-3' | translate }}</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="left-break"></div>
  <div class="right-break"></div>
  <div class="section-break"></div>
  <div id="projects" class="section">
    <div class="projects-container">
      <h1 class="section-title">{{ 'PROJECTS.TITLE' | translate }}</h1>
      <h2 class="section-subtitle">{{ 'PROJECTS.SUBTITLE-1' | translate }}</h2>
      <p class="in-dev">{{ 'GENERAL.IN-DEV' | translate }}</p>
      <h2 class="section-subtitle">{{ 'PROJECTS.SUBTITLE-2' | translate }}</h2>
      <p class="in-dev">{{ 'GENERAL.IN-DEV' | translate }}</p>
      <h2 class="section-subtitle">{{ 'PROJECTS.SUBTITLE-3' | translate }}</h2>
      <div class="project-profiles-container">
        <div class="project-profiles-codepen">
          <a href="https://codepen.io/hugororiz" target="_blank">
            <i class="fa fa-codepen icon"></i>
            <p class="profile-links">{{ 'GENERAL.CODEPEN' | translate }}</p>
          </a>
        </div>
        <div class="project-profiles-github">
          <a href="https://github.com/HugoRoriz" target="_blank">
            <i class="fa fa-github icon"></i>
            <p class="profile-links">{{ 'GENERAL.GITHUB' | translate }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="left-break"></div>
  <div class="right-break"></div>
  <div class="section-break"></div>
  <div id="resume" class="section">
    <h1 class="section-title resume-title">{{ 'RESUME.TITLE' | translate }}</h1>
    <div class="resume-container">
      <div class="resume-pt">
        <p class="profile-links"><a href="https://drive.google.com/open?id=1Gii7_y6cOEEiYapcCjYgtnY0zcLc3wwY" target="_blank">{{ 'RESUME.PT' | translate }}</a></p>
      </div>
      <div class="resume-en">
        <p class="profile-links"><a href="https://drive.google.com/open?id=1OOMYOpqgWo7QFCgJUDyH0LThqALW-fV9" target="_blank">{{ 'RESUME.EN' | translate }}</a></p>
      </div>
    </div>
  </div>
  <div class="left-break"></div>
  <div class="right-break"></div>
  <div class="section-break"></div>
  <div id="contacts" class="section">
    <div class="contacts-container">
      <h1 class="section-title">{{ 'CONTACTS.TITLE' | translate }}</h1>
      <p class="profile-links"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=hugororiz93@gmail.com" target="_blank">{{ 'GENERAL.EMAIL' | translate }}</a></p>
    </div>
    <div class="left-break"></div>
    <div class="right-break"></div>
    <div class="section-break"></div>
    <h1 class="section-title">{{ 'SOCIAL.TITLE' | translate }}</h1>
    <div class="socials-container">
      <div class="social-boxes">
        <div class="socials">
          <a href="https://www.linkedin.com/in/hugororiz/" target="_blank">
            <i class="fa fa-linkedin icon"></i>
          </a>
        </div>
        <div class="socials">
          <a href="https://www.freecodecamp.org/hugororiz" target="_blank">
            <i class="fa fa-free-code-camp icon"></i>
          </a>
        </div>
        <div class="socials">
          <a href="https://twitter.com/hjroriz" target="_blank">
            <i class="fa fa-twitter icon"></i>
          </a>
        </div>
        <div class="socials">
          <a href="https://www.youtube.com/channel/UCpB-OEgLBjZW398uCZ4DDDg" target="_blank">
            <i class="fa fa-youtube-play icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="thanks">
    <h1 class="section-subtitle">{{ 'GENERAL.THANKS' | translate }} <i class="fa fa-heart heart"></i></h1>
  </div>
</div>
