@import '../../stylesheets/variables.scss';

.petProjectsPage {
	font-family: $font;
  height: 48vh;
	padding: 0;
}

.petProjectsTitle {margin-top: 39vh;}

.petProjectsSubtitle {margin-bottom: 30px;}
