@import '../../stylesheets/variables.scss';

#skillsArrow {margin-top: 90px;}

.skillsPage {
  font-family: $font;
  padding: 0;
}

.skillsTitleContainer {margin-top: 16vh;}

.skillsImg {
  background-image: url("../../assets/skills.png");
  background-position: center;
	margin-top: 50px;
}

.skillsTitle {margin: 75px 0 20px 0;}

.html,
.css,
.js,
.sass,
.jquery,
.angular {
  position: absolute;
	color: $grey-light;
	font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.html {margin: 6.2% 0 0 5.5%;}

.css {margin: 17% 0 0 5.5%;}

.js {margin: 27% 0 0 6.5%;}

.sass {margin: 6% 0 0 46%;}

.jquery {margin: 16.5% 0 0 47%;}

.angular {margin: 27% 0 0 43%;}

.skillsMainContainer {
	height: 60vh;
  margin: 200px 100px 0 100px;
}

.skillsMainItemContainer {
  width: 33%;
  float: left;
}

.skills-icon {
  width: 100%;
	text-align: center;
	margin-top: 50px;
}

.skillsMainItem {margin: 50px 50px 0 50px;}

.html-icon {color: $html;}

.css-icon {color: $css;}

.js-icon {
  background-image: url("../../assets/js.png");
  width: 80px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	display: inherit;
  margin: 55px auto;
}

.skillsTechContainer {height: 35vh;}

.skillsTechTitle {margin-top: 50px;}

.skillsTechIcons {
  text-align: center;
  margin: 100px 0;
}

.tech-icon {
  display: inline-block !important;
  margin: 0 20px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
	display: inherit;
}

.bootstrap-icon {
  background-image: url("../../assets/bootstrap.png");
  width: 80px;
	height: 65px;
  margin: 55px auto;
}

.sass-icon {
  background-image: url("../../assets/sass.png");
	width: 90px;
  height: 65px;
  background-size: cover !important;
	margin: 55px auto;
}

.jquery-icon {
  background-image: url("../../assets/jquery.png");
  width: 80px;
	height: 65px;
  margin: 55px auto;
}

.angular-icon {
  background-image: url("../../assets/angular.png");
  width: 80px;
	height: 65px;
  margin: 55px auto;
}

.meteor-icon {
  background-image: url("../../assets/meteor.png");
  width: 80px;
  height: 65px;
  background-size: cover !important;
  margin: 55px auto;
}
