<main id="skillsPage" class="skillsPage container">
  <div class="skillsTitleContainer">
    <h1 class="title skillsTitle">{{ 'SKILLS.TITLE' | translate }}</h1>
    <div class="image skillsImg">
      <div class="html">HTML</div>
      <div class="css">CSS</div>
      <div class="js">JavaScript</div>
      <div class="sass">SASS</div>
      <div class="jquery">jQuery</div>
      <div class="angular">Angular</div>
    </div>
  </div>
  <span id="skillsArrow" class="fa fa-2x fa-arrow-down arrow bounce"></span>
  <div class="skillsMainContainer">
    <p class="sectionSeparator"></p>
    <div class="skillsMainItemContainer">
      <span class="fa fa-5x fa-html5 skills-icon html-icon"></span>
      <p class="subtitle skillsMainItem">{{ 'SKILLS.HTML' | translate }}</p>
    </div>
    <div class="skillsMainItemContainer">
      <span class="fa fa-5x fa-css3 skills-icon css-icon"></span>
      <p class="subtitle skillsMainItem">{{ 'SKILLS.CSS' | translate }}</p>
    </div>
    <div class="skillsMainItemContainer">
      <span class="skills-icon js-icon"></span>
      <p class="subtitle skillsMainItem">{{ 'SKILLS.JS' | translate }}</p>
    </div>
  </div>
  <div class="skillsTechContainer">
    <h1 class="title skillsTechTitle">{{ 'SKILLS.TECH' | translate }}</h1>
    <p class="sectionSeparator"></p>
    <div class="skillsTechIcons">
      <span class="fa fa-5x fa-html5 html-icon tech-icon"></span>
      <span class="fa fa-5x fa-css3 css-icon tech-icon"></span>
      <a href="https://getbootstrap.com/docs/3.3/css/"><span class="bootstrap-icon tech-icon"></span></a>
      <a href="http://sass-lang.com/guide"><span class="sass-icon tech-icon"></span></a>
      <span class="js-icon tech-icon"></span>
      <a href="https://api.jquery.com/"><span class="jquery-icon tech-icon"></span></a>
      <a href="https://angular.io/docs"><span class="angular-icon tech-icon"></span></a>
      <a href="https://docs.meteor.com/"><span class="meteor-icon tech-icon"></span></a>
      <a href="https://github.com"><span class="fa fa-5x fa-github github-icon tech-icon"></span></a>
    </div>
  </div>
</main>
