@import './variables.scss';

// 1200px plus

@media only screen and (min-width: 1200px) {.nav-container{width: 33% !important;}}

// 992px - 1200px

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-container {width: 41% !important;}

  .profile-links {margin: 15px !important;}
}

// 768px - 991px

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .nav-container {width: 56% !important;}

  .section-text {
    width: 80%;
    margin: auto !important;
  }

  .quote {
    width: 80%;
    margin: 175px auto 50px auto !important;
  }

  .project-content-preview {width: 50% !important;}

  .project-profiles-container {width: 80% !important;}

  .social-boxes {width: 100% !important;}

  .socials {width: 13% !important;}
}

// 576px - 767px

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hamburguer {display: initial !important;}

  .lang-select-container {left: 40%;}

  .timeline-card-thumbnail {margin: 50px 6% 0 6% !important;}

  .left-card-content {margin: 9% 6% !important;}

  .project-content-preview {width: 60% !important;}

  .project-profiles-container {width: 100% !important;}

  .icon {font-size: 60px !important;}
}

// 480px - 575px

@media only screen and (min-width: 480px) and (max-width: 575px) {
  .hamburguer {display: initial !important;}

  .lang-select-container {left: 40%;}

  .timeline-card-thumbnail {margin: 100px 6% 0 6% !important;}

  .timeline-icon {top: 200px !important;}

  .project-content-preview {width: 80% !important;}

  .project-profiles-container {width: 100% !important;}

  .icon {font-size: 50px !important;}

  .profile-links {margin: 15px !important;}
}

// 400px - 479px

@media only screen and (min-width: 400px) and (max-width: 479px) {
  .hamburguer {display: initial !important;}

  .lang-select-container {left: 38%;}

  .timeline-card-thumbnail {margin: 100px 10% 0 10% !important;}

  .timeline-card-content {margin: 9% 10% !important;}

  .timeline-course {
    font-size: 20px !important;
    margin-top: 20px !important;
  }

  .timeline-icon {top: 200px !important;}

  .project-content-preview {width: 80% !important;}

  .project-profiles-container {width: 100% !important;}

  .social-boxes {width: 100% !important;}

  .socials {width: 13% !important;}

  .icon {font-size: 55px !important;}

  .profile-links {
    font-size: 18px !important;
    margin: 15px !important;
  }
}

// 320px - 399px

@media only screen and (min-width: 320px) and (max-width: 399px) {
  .hamburguer {display: initial !important;}

  .lang-select-container {left: 34%;}

  .timeline-card-thumbnail {margin: 100px 10% 0 10% !important;}

  .timeline-card-content {margin: 9% 10% !important;}

  .timeline-course {
    font-size: 20px !important;
    margin-top: 20px !important;
  }

  .timeline-location {margin-top: 20px;}

  .timeline-icon {top: 200px !important;}

  .project-content-preview {width: 80% !important;}

  .project-profiles-container {width: 100% !important;}

  .profile-links {
    font-size: 14px !important;
	  margin: 8px !important;
  }

  .personal-links {margin: 15px !important;}

  .social-boxes {width: 100% !important;}

  .socials {width: 13% !important;}

  .icon {font-size: 40px !important;}
}

// 0px - 768px (NAV)

@media only screen and (min-width: 0px) and (max-width: 768px) {

  .no-flicker {
    -webkit-transform-style: none !important;
    -moz-transform-style: none !important;
    -ms-transform-style: none !important;
    -o-transform-style: none !important;
    transform-style: none !important;
  }

  .animation-hover-flipInX:hover {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
  }

  nav {position: relative;}

  .header-link {
    height: 50px !important;
    margin: 0 !important;
    color: white !important;
  }

  nav ul {
    position: absolute;
    max-width: 1080px;
    width: 100%;
    flex-wrap: wrap;
    margin: -19px auto 0 auto;
    background: $beige;
    transform: translateY(-120%);
    box-shadow: 0 0 5px rgba(0,0,0, .7);
    transition: all .5s;
    li .is-selected {color: $blue !important;}
  }


  nav li {
    width: 100%;
    flex: none;
    position: relative;
    line-height: 50px;
    text-align: center;
  }

  nav li:nth-child(1) {margin-top: 55px;}

  nav a:hover {color: $blue !important;}

  nav input[type="checkbox"]:checked + ul  {
    width: 100%;
    transform: translateY(0%);
    transition: all .5s;
  }

  nav label {display: block !important;}
}
