// VARIABLES

$font: 'Josefin Slab', serif;

$orange: #ff9a3d;
$grey-light: #c1c1c1;
$grey-dark: rgb(117, 117, 117);
$background: #F4F4F4;

$twitter: #0084b4;
$linked-in: #0077B5;
$github: #333;

$html: #E0502E;
$css: #1D72B4;
$js: #EFDA5B;