$font: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', Arial, sans-serif;

$black: #1B1610;
$white: #FFFFFF;
$blue: #5E6D7B;
$light-blue: #AFB9C4;
$beige: #e5ba89;
$grey: #545655;
$light-grey: #e4e4e4;
