@import '../../stylesheets/variables.scss';

.expPage {
	padding: 0;
	font-family: $font;
}

.expWorkContainer {margin-top: 16vh;}

.expImg {
	background-image: url("../../assets/work.png");
	margin-top: 50px;
}

.expWorkTitle {margin: 75px 0 20px 0;}

.expWorkSubtitle {margin: 40px 0 20px 0;}

.expExtraContainer {margin-top: 150px;}

.expExtraItem,
.expVolunteerItem {	
	position: absolute;
	display: inline-block;
	height: 50px;
	line-height: 2.5;
	margin: 0 50px;
}

.expVolunteerItem {line-height: 2.8 !important;}

.expExtraItemTop {margin-top: 100px;}
.expExtraItemBottom {margin-top: 100px;}
.expVolunteerItemContainer {margin-top: 100px;}

.soccer-icon,
.basketball-icon,
.volunteerImg {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 0 0 30%;
}

.soccer-icon {background-image: url("../../assets/soccer.png");}

.basketball-icon {background-image: url("../../assets/basketball.png");}

.expVolunteerContainer {margin: 200px 0;}

.volunteerImg {
	background-image: url("../../assets/abra.png");
	width: 150px;
	background-size: auto;
	background-position: center right;
	margin: 0 0 0 17% !important;
}
