<main id="expPage" class="expPage container">
  <div class="expWorkContainer">
    <h1 class="title expWorkTitle">{{ 'EXP.WORK-TITLE' | translate }}</h1>
    <div class="image expImg"></div>
    <p class="subtitle expWorkSubtitle">{{ 'EXP.WORK-SUBTITLE' | translate }}</p>
  </div>
  <span id="expArrow" class="fa fa-2x fa-arrow-down arrow bounce"></span>
  <div class="expExtraContainer">
    <h1 class="title expExtraTitle">{{ 'EXP.EXTRA-TITLE' | translate }}</h1>
    <p class="sectionSeparator"></p>
    <div class="expExtraItemTop">
      <div class="soccer-icon"></div><h1 class="subtitle expExtraItem">{{ 'EXP.EXTRA-ITEM-1' | translate }}</h1>
    </div>
    <div class="expExtraItemBottom">
      <a href="https://www.gdas.clubeo.com/"><div class="basketball-icon"></div><h1 class="subtitle expExtraItem">{{ 'EXP.EXTRA-ITEM-2' | translate }}</h1></a>
    </div>
  </div>
  <div class="expVolunteerContainer">
    <h1 class="title expVolunteerTitle">{{ 'EXP.VOLUNTEER-TITLE' | translate }}</h1>
    <p class="sectionSeparator"></p>
    <div class="expVolunteerItemContainer">
      <a href="https://www.abra.org.pt/"><div class="volunteerImg"></div><h1 class="subtitle expVolunteerItem">{{ 'EXP.VOLUNTEER-SUBTITLE' | translate }}</h1></a>
    </div>
  </div>
</main>